Package: conris-dbgsym
Package-Type: ddeb
Source: conris
Version: 0.1-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: ooCheese <>
Installed-Size: 37
Depends: conris (= 0.1-1)
Section: debug
Priority: optional
Description: debug symbols for conris
Build-Ids: 325d3e3fc1b22544f3cfaee9d927e70dbaf959b8
